{% extends "AppBundle::layout.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     {% stylesheets
     'public/plugins/bootstrap-switch/css/bootstrap-toggle.min.css'

     filter='cssrewrite' %}
     <link rel="stylesheet" href="{{ asset_url }}"/>
     {% endstylesheets %}
 {% endblock stylesheets %}


{% block title %}Mon Compte |  {{ parent() }} {% endblock %}

{% block header_breadcrumb %}
    <li>
        <span>Liste Restaurants</span>
        <i class="fa fa-circle"></i>
    </li>

    <li>
        <span>Création</span>
    </li>
{% endblock header_breadcrumb %}


{% block action_toolbar %}
    <div class="btn-group pull-right">
        <a type="button" class="btn red btn-sm btn-outline">
            <i class="fa fa-arrow-left"></i> Tous les restaurants
        </a>
    </div>
{% endblock action_toolbar %}
{% block back_body %}
    <h1>Restaurants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Speciality</th>
                <th>Onthespot</th>
                <th>Rite</th>
                <th>Openinghours</th>
                <th>Datecreated</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td><a href="{{ path('restaurant_show', { 'id': restaurant.id }) }}">{{ restaurant.id }}</a></td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.description }}</td>
                <td>{{ restaurant.speciality }}</td>
                <td>{% if restaurant.onTheSpot %}Yes{% else %}No{% endif %}</td>
                <td>{{ restaurant.rite }}</td>
                <td>{% if restaurant.openingHours %}{{ restaurant.openingHours|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if restaurant.dateCreated %}{{ restaurant.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if restaurant.visible %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('restaurant_show', { 'id': restaurant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('restaurant_edit', { 'id': restaurant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('restaurant_new') }}">Create a new restaurant</a>
        </li>
    </ul>

{% endblock back_body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
