{% extends "AppBundle::layout.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     {% stylesheets
     'public/plugins/bootstrap-switch/css/bootstrap-toggle.min.css'
     'public/plugins/payment-font/css/paymentfont.min.css'
     'public/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css'
     "public/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
     "public/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
     filter='cssrewrite' %}
     <link rel="stylesheet" href="{{ asset_url }}"/>
     {% endstylesheets %}
     <style type="text/css">
         .margin-top-25 {
             margin-top: 25px !important;
         }

         .form-section {
             margin: 10px 0;
             padding-bottom: 5px;
             border-bottom: 1px solid #e7ecf1;
         }

         .form-opening-hours .form-group {
             /*margin-bottom: 0 !important;*/
         }

         .list-show-icons > div > i {
             display: inline-block;
             margin: 0 0 5px;
             padding: 5px;
             font-size: 30px;
             border-radius: 3px;
             -webkit-transition: all 250ms ease;
             -o-transition: all 250ms ease;
             transition: all 250ms ease;
         }

     </style>
 {% endblock stylesheets %}

{% block title %}Mon Compte |  {{ parent() }} {% endblock %}

{% block header_breadcrumb %}
    <li>
        <span>Liste Restaurants</span>
        <i class="fa fa-circle"></i>
    </li>

    <li>
        <span>Création</span>
    </li>
{% endblock header_breadcrumb %}

{% block action_toolbar %}
    <div class="btn-group pull-right">
        <a type="button" class="btn red btn-sm btn-outline">
            <i class="fa fa-arrow-left"></i> Tous les restaurants
        </a>
    </div>
{% endblock action_toolbar %}

{% block back_body %}
    <div class="row" id="page_account">
        {#<div class="col-md-12 col-sm-12 col-xs-12">#}
        <div class="portlet light">

            {% set routeName = app.request.get('_route') %}
            <div class="portlet-body">
                <div class="tabbable-full-width"> {#tabbable-tabdrop#}

                    <div class="tab-content">
                        {% if app.request.hasPreviousSession %}
                            <div class="row">
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="col-md-12">
                                            <div class="alert alert-{{ type }} alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true"></button>
                                                <strong>{{ type }}</strong>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}


                        {% if form is defined %}
                            {{ form_start(form, { 'attr': { 'id': 'form_restaurant_add','autocomplete':'off', 'class': 'forms' } }) }}

                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="message-alert" class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button>
                                        <span class="message-error">Veuillez remplire tous les champs obligatoires.</span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    {% if form.name is defined %}
                                        <div class="form-group">
                                            {{ form_label(form.name) }}
                                            <div class="input-icon">
                                                <i class="fa fa-home"></i>
                                                {{ form_widget(form.name) }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if form.speciality is defined %}
                                        <div class="form-group">
                                            {{ form_label(form.speciality) }}
                                            <div class="input-icon">
                                                <i class="fa fa-cutlery"></i>
                                                {{ form_widget(form.speciality) }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="row">

                                        {% if form.onTheSpot is defined %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {{ form_label(form.onTheSpot) }}
                                                    {{ form_widget(form.onTheSpot) }}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if form.rite is defined %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {{ form_label(form.rite) }}
                                                    {{ form_widget(form.rite) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    {% if form.address is defined %}
                                        <h4 class="form-section">Adresse </h4>
                                        {{ form_label(form.address,null,{'label_attr':{'class':'sr-only'}}) }}
                                        <div class="row">
                                            {% if form.address.street is defined %}
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        {{ form_row(form.address.street) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if form.address.region is defined %}
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        {{ form_row(form.address.region) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if form.address.department is defined %}
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        {{ form_row(form.address.department) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if form.address.city is defined %}
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        {{ form_row(form.address.city) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                    {% endif %}

                                    <h4 class="form-section">Moyens de paiement </h4>

                                    <div class="row list-show-icons">
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-bitcoin"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-visa"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-mastercard"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-american-express"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-diners"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-discover"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-jcb"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-maestro"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-paypal"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-stripe"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-bank-transfer"></i>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                            <i class="pf pf-cash-on-delivery"></i>
                                        </div>


                                    </div>
                                   
                                    {% if form.bankCard %}

                                        <div class="col-sm-6">
                                            {{ form_row(form.bankCard) }}
                                            <i class="fa fa-credit-card fa-3x"></i>
                                        </div>
                                    {% endif %}

                                    {% if form.ticketRestaurant %}
                                        <div class="col-sm-6">
                                            {{ form_row(form.ticketRestaurant) }}
                                            <i class="fa fa-paypal fa-3x"></i>

                                        </div>
                                    {% endif %}

                                    {% if form.cash %}
                                        <div class="col-sm-6">
                                            {{ form_row(form.cash) }}
                                            <i class="fa fa-money fa-3x"></i>

                                        </div>
                                    {% endif %}

                                    {% if form.paypal %}
                                        <div class="col-sm-6">
                                            {{ form_widget(form.paypal) }}
                                            <i class="fa fa-paypal fa-3x"></i>
                                        </div>
                                        {#{{ form_label(form.paypal,null,{'label_attr':{'class':'mt-checkbox mt-checkbox-outline'}}) }}#}


                                    {% endif %}

                                    {% if form.description is defined %}
                                        <div class="form-group hide" id="input_description">
                                            {{ form_label(form.description) }}
                                            {{ form_widget(form.description) }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="col-sm-6">
                                    {% if form.openingHours is defined %}
                                        <h4 class="form-section">Heures d'Ouverture
                                            <button type="button" class="btn btn-sm green pull-right"
                                                    id="bntOpeningHours"><i
                                                        class="fa fa-clock-o fa-fw"></i> Ajout Heure D'ouverture
                                            </button>
                                        </h4>
                                        <div class="row margin-top-40 margin-bottom-20 text-center loading">
                                            <div class="col-sm-12">
                                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.openingHours,null,{'label_attr':{'class':'sr-only'}}) }}
                                            {{ form_widget(form.openingHours) }}
                                        </div>
                                    {% endif %}

                                    {% if form.exceptionalClosure is defined %}
                                        <h4 class="form-section">Fermeture Exceptionnelle
                                            <button type="button" class="btn btn-sm red pull-right"
                                                    id="bntExceptionalClosure"><i
                                                        class="fa fa-clock-o fa-fw"></i> Ajout Heure Fermeture
                                            </button>
                                        </h4>

                                        <div class="form-group">
                                            {{ form_label(form.exceptionalClosure,null,{'label_attr':{'class':'sr-only'}}) }}
                                            {{ form_widget(form.exceptionalClosure) }}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="col-sm-12">
                                    <hr>
                                </div>


                                <div class="form-actions">
                                    <div class="col-sm-3 ">
                                        <button type="submit"
                                                id="btn_submit" class="btn green btn-sm btn-block"><span
                                                    class="fa fa-save"></span>
                                            Enregistrer
                                        </button>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <a href="{{ path('app_account_add') }}"
                                           id="btn_submit" class="btn btn-outline red btn-sm btn-block"><span
                                                    class="fa fa-remove"></span>
                                            Annuler
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock back_body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'public/plugins/bootstrap-switch/js/bootstrap-toggle.min.js'
    'public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
    "public/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js"
    "public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
    "public/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js"
    "public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
    'bundles/app/js/restaurant/add.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

