{% extends "AppBundle::layout.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     {% stylesheets
     'public/plugins/bootstrap-switch/css/bootstrap-toggle.min.css'
     'public/plugins/payment-font/css/paymentfont.min.css'
     'public/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css'
     'public/assets/global/plugins/bootstrap-sweetalert/sweetalert.css'
     "public/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
     "public/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
     filter='cssrewrite' %}
     <link rel="stylesheet" href="{{ asset_url }}"/>
     {% endstylesheets %}
     <style type="text/css">
         .margin-top-25 {
             margin-top: 25px !important;
         }

         .checkbox label .toggle, .checkbox-inline .toggle {
             margin-left: 0 !important;
         }

         .checkbox .toggle-on.btn-xs {
             padding-right: 145px;
         }

         .form-section {
             margin: 10px 0;
             padding-bottom: 5px;
             border-bottom: 1px solid #e7ecf1;
         }

         .form-opening-hours .form-group {
             /*margin-bottom: 0 !important;*/
         }

         .list-show-icons > div > i {
             display: inline-block;
             margin: 0 0 5px;
             padding: 5px;
             font-size: 48px;
             border-radius: 3px;
             -webkit-transition: all 250ms ease;
             -o-transition: all 250ms ease;
             transition: all 250ms ease;
         }

         .list-show-icons > div > a > code {
             display: inline-block;
             max-width: 100%;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
         }

         .tab-pane {
             min-height: 450px
         }

     </style>
 {% endblock stylesheets %}

{% block title %}Mon Compte |  {{ parent() }} {% endblock %}

{% block header_breadcrumb %}
    <li>
        <span>Liste Restaurants</span>
        <i class="fa fa-circle"></i>
    </li>

    <li>
        <span>Création</span>
    </li>
{% endblock header_breadcrumb %}

{% block action_toolbar %}
    <div class="btn-group pull-right">
        <a type="button" class="btn red btn-sm btn-outline">
            <i class="fa fa-arrow-left"></i> Tous les restaurants
        </a>
    </div>
{% endblock action_toolbar %}

{% block back_body %}

    <div class="row" id="">
        {% if form is defined %}
            {{ form_start(form, { 'attr': { 'id': 'form_restaurant_add','autocomplete':'off', 'class': 'forms' } }) }}

            <div class="portlet light">
                <div class="portlet-body">
                    <div class="tabbable-line tabbable-full-width"> {#tabbable-tabdrop#}
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="btn" data-toggle="tab" href="#info"> <i class="fa fa-home fa-fw"></i>
                                    Restaurant</a>
                            </li>
                            <li>
                                <a class="btn" data-toggle="tab" href="#opening"> <i class="fa fa-calendar fa-fw"></i>
                                    Horaires d'ouverture</a>
                            </li>
                            <li>
                                <a class="btn" data-toggle="tab" href="#payments"> <i class="fa fa-calendar fa-fw"></i>
                                    Moyens de paiement</a>
                            </li>
                            <li>
                                <a class="btn" data-toggle="tab" href="#delivery"> <i class="fa fa-calendar fa-fw"></i>
                                    Livraisons</a>
                            </li>
                            <li>
                                <a class="btn" data-toggle="tab" href="#images"> <i class="fa fa-calendar fa-fw"></i>
                                    Photos</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            {% if app.request.hasPreviousSession %}
                                <div class="row">
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="col-md-12">
                                                <div class="alert alert-{{ type }} alert-dismissable">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true"></button>
                                                    <strong>{{ type }}</strong>
                                                    {{ message }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div id="info" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="message-alert" class="alert alert-danger display-hide">
                                            <button class="close" data-close="alert"></button>
                                            <span class="message-error">Veuillez remplire tous les champs obligatoires.</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <h4 class="form-section"><i class="fa fa-info fa-fw"></i>Informations</h4>
                                        {% if form.name is defined %}
                                            <div class="form-group">
                                                {{ form_label(form.name) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-home"></i>
                                                    {{ form_widget(form.name) }}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if form.speciality is defined %}
                                            <div class="form-group">
                                                {{ form_label(form.speciality) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-cutlery"></i>
                                                    {{ form_widget(form.speciality) }}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="row">
                                            {% if form.phone is defined %}
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.phone) }}
                                                        <div class="input-icon">
                                                            <i class="fa fa-phone"></i>
                                                            {{ form_widget(form.phone) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if form.fax is defined %}
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.fax) }}
                                                        <div class="input-icon">
                                                            <i class="fa fa-fax"></i>
                                                            {{ form_widget(form.fax) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}



                                            {% if form.rite is defined %}
                                                <div class="col-sm-6">
                                                    {{ form_row(form.rite) }}
                                                </div>
                                            {% endif %}

                                        </div>
                                        {% if form.description is defined %}
                                            <div class="form-group hide" id="input_description">
                                                {{ form_label(form.description) }}
                                                {{ form_widget(form.description) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 class="form-section"><i class="fa fa-globe fa-fw"></i>Adresse </h4>
                                        
                                            <div class="row">
                                                {% if form.street is defined %}
                                                    <div class="col-sm-3">
                                                        {{ form_label(form.street) }}
                                                        <div class="input-icon">
                                                            <i class="fa fa-road"></i>
                                                            {{ form_widget(form.street) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if form.content is defined %}
                                                    <div class="col-sm-9">
                                                        {{ form_label(form.content) }}
                                                        <div class="input-icon">
                                                            <i class="fa fa-map-signs"></i>
                                                            {{ form_widget(form.content) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="row">

                                                {% if form.region is defined %}
                                                    <div class="col-sm-6">
                                                        {{ form_row(form.region) }}
                                                    </div>
                                                {% endif %}
                                                {% if form.department is defined %}
                                                    <div class="col-sm-6">
                                                        {{ form_row(form.department) }}
                                                    </div>
                                                {% endif %}
                                                {% if form.city is defined %}
                                                    <div class="col-sm-6">
                                                        {{ form_row(form.city) }}
                                                    </div>
                                                {% endif %}

                                                <div class="col-sm-12">
                                                    <h4 class="form-section"><i class="fa fa-map-marker fa-fw"></i>Localisation
                                                        <button class="btn btn-xs green btn-outline pull-right"
                                                                id="gmap_geocoding_btn"><i
                                                                    class="fa fa-refresh fa-fw"></i> Localiser
                                                        </button>
                                                    </h4>
                                                    <div id="gmap_geocoding" class="gmaps"></div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div id="opening" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% if form.openingHours is defined %}
                                            <h4 class="form-section">Heures d'ouverture
                                                <button type="button" class="btn btn-sm green pull-right"
                                                        id="bntOpeningHours"><i
                                                            class="fa fa-clock-o fa-fw"></i> Ajout Heure d'ouverture
                                                </button>
                                            </h4>
                                            <div class="row margin-top-40 margin-bottom-20 text-center loading">
                                                <div class="col-sm-12">
                                                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.openingHours,null,{'label_attr':{'class':'sr-only'}}) }}
                                                {{ form_widget(form.openingHours) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        {% if form.exceptionalClosure is defined %}
                                            <h4 class="form-section">Fermeture Exceptionnelle
                                                <button type="button" class="btn btn-sm red pull-right"
                                                        id="bntExceptionalClosure"><i
                                                            class="fa fa-clock-o fa-fw"></i> Ajout Heure Fermeture
                                                </button>
                                            </h4>

                                            <div class="form-group">
                                                {{ form_label(form.exceptionalClosure,null,{'label_attr':{'class':'sr-only'}}) }}
                                                {{ form_widget(form.exceptionalClosure) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div id="payments" class="tab-pane fade">
                                <h4 class="form-section">Moyens de paiement </h4>

                                <div class="row text-center list-show-icons">

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                        <i class="pf pf-cb"></i>
                                        {% if form.bankCard is defined%}
                                            {{ form_row(form.bankCard) }}
                                        {% endif %}
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                        <i class="pf pf-paypal"></i>
                                        {% if form.paypal is defined %}
                                            {{ form_row(form.paypal) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                        <i class="pf pf-card"></i>
                                        {% if form.ticketRestaurant is defined %}
                                            {{ form_row(form.ticketRestaurant) }}
                                        {% endif %}
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                        <i class="pf pf-cash"></i>
                                        {% if form.cash is defined %}
                                            {{ form_row(form.cash) }}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            <div id="delivery" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% if form.communesDelivered is defined %}
                                            <h4 class="form-section"><i class="fa fa-map-o fa-fw"></i>Communes
                                                livrées</h4>
                                            {{ form_label(form.communesDelivered,null,{'label_attr':{'class':'sr-only'}}) }}
                                            {{ form_widget(form.communesDelivered) }}
                                        {% endif %}

                                        {% if form.deliveryDistance is defined %}
                                            <h4 class="form-section margin-top-20"><i
                                                        class="fa fa-street-view fa-fw"></i>Distance de
                                                livraison (km)</h4>

                                            {{ form_label(form.deliveryDistance,null,{'label_attr':{'class':'sr-only'}}) }}
                                            {{ form_widget(form.deliveryDistance) }}
                                        {% endif %}
                                        {% if form.delivery is defined %}

                                            <h4 class="form-section margin-top-20"><i class="fa fa-map-signs fa-fw"></i>À
                                                Emporter {% if form.delivery.takeAway is defined %}
                                                    <div class="pull-right block-inline">
                                                        {{ form_label(form.delivery.takeAway,null,{'label_attr':{'class':'sr-only'}}) }}
                                                        {{ form_widget(form.delivery.takeAway) }}
                                                    </div>
                                                {% endif %}
                                            </h4>
                                            <div class="row">

                                                <div class="col-sm-4">
                                                    {% if form.delivery.takeAwayOrderMin is defined %}
                                                        <div class="form-group">
                                                            {{ form_label(form.delivery.takeAwayOrderMin) }}
                                                            <div class="input-icon">
                                                                <i class="fa fa-eur"></i>
                                                                {{ form_widget(form.delivery.takeAwayOrderMin) }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-sm-3">
                                                    {% if form.delivery.deliveryPrice is defined %}
                                                        <div class="form-group">
                                                            {{ form_label(form.delivery.deliveryPrice) }}
                                                            <div class="input-icon">
                                                                <i class="fa fa-eur"></i>
                                                                {{ form_widget(form.delivery.deliveryPrice) }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">

                                                        <div class="col-sm-12">
                                                            <label for="">Délai de préparation</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {% if form.delivery.takeAwayDurationMin is defined %}
                                                                <div class="form-group">
                                                                    {{ form_label(form.delivery.takeAwayDurationMin,null,{'label_attr':{'class':'sr-only'}}) }}
                                                                    <div class="input-icon">
                                                                        <i class="fa fa-clock-o"></i>
                                                                        {{ form_widget(form.delivery.takeAwayDurationMin) }}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-sm-6">
                                                            {% if form.delivery.takeAwayDurationMax is defined %}
                                                                <div class="form-group">
                                                                    {{ form_label(form.delivery.takeAwayDurationMax,null,{'label_attr':{'class':'sr-only'}}) }}
                                                                    <div class="input-icon">
                                                                        <i class="fa fa-clock-o"></i>
                                                                        {{ form_widget(form.delivery.takeAwayDurationMax) }}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-6">
                                        <h4 class="form-section"><i class="fa fa-map-signs fa-fw"></i>À
                                            Emporter {% if form.onTheSpot is defined %}
                                                <div class="pull-right block-inline">
                                                    {{ form_label(form.onTheSpot,null,{'label_attr':{'class':'sr-only'}}) }}
                                                    {{ form_widget(form.onTheSpot) }}
                                                </div>
                                            {% endif %}
                                        </h4>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                {% if form.onTheSpotOrderMin is defined %}
                                                    <div class="form-group">
                                                        {{ form_label(form.onTheSpotOrderMin) }}
                                                        <div class="input-icon">
                                                            <i class="fa fa-eur"></i>
                                                            {{ form_widget(form.onTheSpotOrderMin) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="row">

                                                    <div class="col-sm-12">
                                                        <label for="">Délai de préparation (Min et Max)</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        {% if form.onTheSpotDurationMin is defined %}
                                                            <div class="form-group">
                                                                {{ form_label(form.onTheSpotDurationMin,null,{'label_attr':{'class':'sr-only'}}) }}
                                                                <div class="input-icon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    {{ form_widget(form.onTheSpotDurationMin) }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        {% if form.onTheSpotDurationMin is defined %}
                                                            <div class="form-group">
                                                                {{ form_label(form.onTheSpotDurationMax,null,{'label_attr':{'class':'sr-only'}}) }}
                                                                <div class="input-icon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    {{ form_widget(form.onTheSpotDurationMax) }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div id="images" class="tab-pane fade"></div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-actions">
                                    <div class="col-sm-3 ">
                                        <button type="submit"
                                                id="btn_submit" class="btn green btn-sm btn-block"><span
                                                    class="fa fa-save"></span>
                                            Enregistrer
                                        </button>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <a href="{{ path('app_account_add') }}"
                                           id="btn_submit" class="btn btn-outline red btn-sm btn-block"><span
                                                    class="fa fa-remove"></span>
                                            Annuler
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}


        {% endif %}
    </div>

{% endblock back_body %}

    {% block javascripts %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback"
        ></script>

        {#<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback"
               ></script>#}
        {{ parent() }}
        {% javascripts
        "public/assets/global/plugins/gmaps/gmaps.min.js"
        'public/plugins/bootstrap-switch/js/bootstrap-toggle.min.js'
        'public/assets/global/plugins/jquery-validation/js/jquery.validate.min.js'
        "public/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js"
        "public/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js"
        "public/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        "public/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js"
        "public/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"
        'bundles/app/js/restaurant/add.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}


{#"http://maps.google.com/maps/api/js?sensor=false"#}
