{% extends "BackBundle::layout.html.twig" %}

  {% block stylesheets %}
      {{ parent() }}
      {% stylesheets
      'bundles/back/theme/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css'
      filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}"/>
      {% endstylesheets %}
  {% endblock %}
{#{% block title %}#}
    {#Edit utilisateur - {{ parent() }}#}
{#{% endblock %}#}

{% block header_breadcrumb %}
    <li>
        <a href="{{ path('back_user_list') }}">Liste utilisateurs</a>
        <i class="fa fa-circle"></i>

    </li>
    <li>
        <span>Edition</span>
    </li>
{% endblock header_breadcrumb %}

{% block action_toolbar %}

{% endblock action_toolbar %}

{% block back_body %}


    <div class="row" id="">
        <div class="col-md-12 col-sm-12 margin-top-20">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">

                        <span class="caption-subject font-red-sunglo bold uppercase"> <i
                                    class="icon-plus font-red-sunglo"></i> Edition</span>
                        <span class="caption-helper">...</span>
                    </div>

                    {#<div class="tools">#}
                        {#<a href="javascript:;" class="collapse" data-original-title="Réduire" title="Réduire"> </a>#}
                        {#<a href="javascript:;" class="reload" data-original-title="Recharger" title="Recharger"> </a>#}
                        {#<a href="" class="fullscreen" data-original-title="Plein écran" title="Plein écran"> </a>#}
                        {#<a href="javascript:;" class="remove" data-original-title="Fermer" title="Fermer"> </a>#}
                    {#</div>#}
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-warning hide" id="field-message-error" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                <span class="message-error"></span>
                            </div>

                            {% if result is defined %}
                                {% if result == "success" %}
                                    <div class="alert alert-success" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true"></button>

                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        L'utilisateur a été modifié.
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true"></button>

                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Erreur lors de la modification.
                                    </div>
                                {% endif %}
                                {% if error is defined and error %}
                                    <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true"></button>
                                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                        {{ error | raw }}.
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#infosPrincipales" role="tab" data-toggle="tab"> Informations principales</a>                              </li>
                                <li>
                                    <a href="#description"role="tab" data-toggle="tab"> Description</a>
                                </li>
                                <li>
                                    <a href="#exchange"role="tab" data-toggle="tab"> Exchange</a>
                                </li>
                                <li>
                                    <a href="#groupes" role="tab" data-toggle="tab"> Groupes</a>
                                </li>
                                </ul>
                                
                                {% if form is defined and user.dn is not null %}
                            {#{{ dump(user) }}#}
                            {{ form_start(form, { 'method': 'POST','attr': { 'role':'form'} }) }}
                        <div class="tab-content">
                            <div id="infosPrincipales" class="col-sm-6 tab-pane active " role="tabpanel">
                                <div  class="row">
                                    {% if form.name is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback" id="field-name">
                                                {{ form_label(form.name) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-user"></i>
                                                    {{ form_widget(form.name) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.firstName is defined %}

                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback" id="field-firstName">
                                                {{ form_label(form.firstName) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-user"></i>
                                                    {{ form_widget(form.firstName) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if form.login is defined %}
                                        <div class="col-sm-12">
                                            {{ form_label(form.login) }}
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback" id="field-email">
                                                <div class="input-icon">
                                                    <i class="fa fa-user"></i>
                                                    {{ form_widget(form.login) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {#{% if form.service is defined %}#}
                                    {#{% if form.service is defined %}#}
                                            {#<div class="col-sm-6">#}
                                                {#<div class="form-group has-feedback">#}
                                                    {#{{ form_label(form.service) }}#}
                                                    {#<div class="input-icon">#}
                                                        {#<i class="fa fa-globe"></i>#}
                                                        {#{{ form_widget(form.service) }}#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#{% endif %}#}

                                        {#<div class="col-sm-6">#}
                                        {#<label>Service</label>#}
                                            {#<div class="form-group">#}
                                          {#<select class="form-control" id="user_service_edit">#}
                                                        {#<option value="">-  -</option>#}
                                                        {#<option value="42Consulting Paris"></option>#}
                                                        {#<option value="42Consulting Lux"></option>#}
                                                        {#<option value="42MediaTelecom"></option>#}
                                                        {#<option value="42Consulting Maroc"></option>#}
                                                        {#<option value="42Consulting Lux"></option>#}
                                                    {#</select>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                    {% if form.site is defined %}
                                    {#{{ dump(form.site) }}#}
                                        <div class="col-sm-6" id="site">
                                            <div class="form-group">
                                                {{ form_label(form.site) }}
                                                {{ form_widget(form.site, {'attr': {'class': 'bs-select form-control site'}}) }}
                                                {#{<select id="form_service" style="display: none"/>}#}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {#{% if form.site is defined %}#}

                                        {#<div class="col-sm-6">#}
                                            {#<div class="form-group">#}
                                                {#{{ form_label(form.site) }}#}
                                                {#{{ form_widget(form.site, {'attr': {'class': 'bs-select form-control site'}}) }}#}
                                                {#{<select id="form_service" style="display: none"/>}#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#{% endif %}#}

                                       {% if form.password is defined %}
                                        <div class="col-sm-12">
                                            <div class="form-group has-feedback" id="field-password">
                                                {{ form_label(form.password) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-unlock-alt form-control-feedback"></i>
                                                    {{ form_widget(form.password) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group has-feedback" id="field-confirm-password">
                                                <label for="confirm-password" class="control-label">Confirmation mot
                                                    de
                                                    passe</label>

                                                <div class="input-icon">
                                                    <i class="fa fa-unlock-alt form-control-feedback"></i>
                                                    <input type="password" placeholder="Confirmation mot de passe"
                                                           class="form-control confirm-password"
                                                           name="confirm-password" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.disabled is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.disabled) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-unlock-alt form-control-feedback"></i>
                                                       {{ form_widget(form.disabled) }}
                                                </div>

                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.debloq is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.debloq) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-unlock-alt form-control-feedback"></i>
                                                    {{ form_widget(form.debloq) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}


                                </div>
                                </div>
                            </div>
                                <div role="tabpanel" class="col-sm-12 tab-pane" id="description">
                                    <div class="row">
                                     <div class="col-sm-8">
                                     <div class="row">
                                        {% if form.title is defined %}

                                            <div class="col-sm-12">
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.title) }}
                                                    <div class="input-icon">
                                                        <i class="fa fa-graduation-cap"></i>
                                                        {{ form_widget(form.title) }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if form.description is defined %}
                                            <div class="col-sm-12">
                                                <div class="form-group has-feedback">
                                                    {{ form_label(form.description) }}

                                                    <div class="input-icon">
                                                        <i class="fa fa-list-alt"></i>
                                                        {{ form_widget(form.description) }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                    <div class="col-sm-12">
                                        <hr>
                                    </div>
                                    {% if form.address is defined %}
                                        <div class="col-sm-9">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.address) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-building-o"></i>
                                                    {{ form_widget(form.address) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.postalCode is defined %}
                                        <div class="col-sm-3">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.postalCode) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-location-arrow"></i>
                                                    {{ form_widget(form.postalCode) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.city is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.city) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-home"></i>
                                                    {{ form_widget(form.city) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.country is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.country) }}
                                                <div class="input-icon">
                                                    <i class="fa fa-globe"></i>
                                                    {{ form_widget(form.country) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if form.phone is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.phone) }}

                                                <div class="input-icon">
                                                    <i class="fa fa-phone"></i>
                                                    {{ form_widget(form.phone) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if form.mobile is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                {{ form_label(form.mobile) }}

                                                <div class="input-icon">
                                                    <i class="fa fa-mobile"></i>
                                                    {{ form_widget(form.mobile) }}
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-sm-4 text-center" style="">
                                        {% if form.picture is defined %}

                                            <div class="form-group">
                                                {{ form_label(form.picture) }}
                                            </div>

                                            <div class="fileinput fileinput-new " data-provides="fileinput">
                                                <div class=" fileinput-new thumbnail">
                                                    <img src="{{ asset('assets/img/no_image_portrait.png') }}"
                                                         alt="" class="image-responsive"/></div>
                                                <div class="fileinput-preview fileinput-exists thumbnail">
                                                <span class="btn default btn-file" style="width: 100%">
                                                                {#<span class="fileinput-exists"> Changer </span></span><br><br>#}
                                                               {{ form_widget(form.picture) }}</center></span>
                                                                <br><br>
                                                    <a href="javascript:;" class="btn red fileinput-exists"
                                                       data-dismiss="fileinput"> Supprimer </a>
</div>
                                                <div>

                                                </div>
                                            </div>


                                        {% endif %}

                                    </div>
                                    </div>
</div>

                            <div role="tabpanel" class="col-sm-6 tab-pane" id="exchange">
                                <div class="row">
                                 {% if user.proxyAddresses is defined %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                <label >Alias</label>
                                                     <div class="input-icon">
                                                        <i class="fa fa-at"></i>

                                                <input type="text" class="form-control" style="margin-top: 2px" id="proxy_adresse" value=" {{ ldap_service.between('SMTP:','@',user.proxyAddresses)}} ">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% if form.at is defined %}
                                <div class="col-sm-6">
                                {{ form_label(form.at) }}
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="fa fa-at" style="left: -12px"></i>
                                            {{ form_widget(form.at, {'attr': {'class': 'bs-select form-control'}}) }}
                                            {#{<select id="form_at" style="display: none"/>}#}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div></div>
                        <div role="tabpanel" class="col-sm-6 tab-pane" id="groupes">
                                    <div class="row">

                                  {% if form.group is defined  and groups is defined %}
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                <label class="control-label">Groupes de distribution</label>

                                                <select class="bs-select form-control" id="select-group" multiple>
                                                    {% for  key, tab in groups %}
                                                        {% for  group in tab %}
                                                            {% if group|length >1 %}
                                                                {% if ldap_service.getData(group,"grouptype") == 2 %}
                                                                {% set titre =ldap_service.getData(group,"cn") %}
                                                                {% set dn =ldap_service.getData(group,"distinguishedname") %}
                                                                {% set dnGroup = dn |split(','~ldap_dn) %}

                                                                <option value="{{ attribute(dnGroup,0) }}"
                                                                        {% if ldap_service.checkMemberOfGroup(group,user.dn) %} selected="selected" {% endif %}>

                                                                    {{ titre }}</option>
                                                            {% endif %}
                                                             {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback">
                                                <label class="control-label">Groupes de sécurité</label>

                                                <select class="bs-select form-control" id="select-group" multiple>
                                                    {% for  key, tab in groups %}
                                                        {% for  group in tab %}
                                                            {% if group|length >1 %}
                                                                {% if ldap_service.getData(group,"grouptype") != 2 %}
                                                                {% set titre =ldap_service.getData(group,"cn") %}
                                                                {% set dn =ldap_service.getData(group,"distinguishedname") %}
                                                                {% set dnGroup = dn |split(','~ldap_dn) %}

                                                                <option value="{{ attribute(dnGroup,0) }}"
                                                                        {% if ldap_service.checkMemberOfGroup(group,user.dn) %} selected="selected" {% endif %}>

                                                                    {{ titre }}</option>
                                                            {% endif %}
                                                             {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>


                                        {{ form_widget(form.group) }}
                                    {% endif %}
                                    </div>
                                    </div>

                                <!-- END FORM-->


                    </div>

                </div>
            </div>
        </div>
            <hr>
                 
                                <div class="row">
                                    <div class="col-md-3 col-offset-sm-3">
                                        <button type="submit" class="btn green btn-block save-edit">Enregistrer
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{ path('back_user_list') }}"  class="btn default btn-block">Annuler</a>
                                    </div>
                                </div>

                            {{ form_end(form) }}

                        {% else %}
                            <div class="col-sm-12 text-center">
                                <div class="alert alert-warning">
                                    <h3>L'utilisateur demandé n'existe plus :'(</h3>
                                </div>
                            </div>

                        {% endif %}

    </div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        "bundles/back/theme/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js"
        "bundles/back/theme/assets/pages/scripts/components-bootstrap-select.js"
        "bundles/back/js/ad/app.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(document).ready(function () {
                var dnGroup = "";
                $('#select-group option:selected').each(function (i, selected) {
                    dnGroup += "#DnGroup:" + $(selected).val();
                });
                $("#user_edit_group").val(dnGroup);
                $('#select-group').change(function () {
                    var dn = "";
                    $.each($(this).val(), function (i, group) {
                        console.log(group);
                        dn += "#DnGroup:" + group;
                    });
                    $("#user_edit_group").val(dn);
                });
            });
        </script>
                            <script>

                                $('button.save-edit').click(function(e){

//                                    e.preventDefault();

                                    var data={
                                        site : $("#site option:selected").text(),
//                                        type : $("#group_type option:selected").text(),
//                                        member : $(".member").val()
                                    }
                                    console.log(data);
                                    $.getJSON(Routing.generate('back_user_edit'),

                                            {data: data},
                                            function (result) {
                                                console.log(result);

                                            });
                                });

                            </script>
        {#<script>#}
          {#var $at = $('#user_at');#}
                {#$at.change(function () {#}
{#//                    console.log($at);#}
                    {#var $form = $(this).closest('form');#}
                    {#var data = {};#}
                    {#data[$at.attr('name')] = $at.val();#}
                    {#$.ajax({#}
                        {#url: $form.attr('action'),#}
                        {#type: $form.attr('method'),#}
                        {#data: data,#}
                        {#success: function (html) {#}
                            {#$('#user_service').replaceWith(#}
                                {#$(html).find('#user_service')#}
                            {#);#}
                        {#}#}
                    {#});#}
                {#});#}
        {#</script>#}
        <script>
        $('#user_edit_at').change(function(){
                switch($(this).val()){
                   case '42consulting.fr': // If at == '1'
                        var service = {
                            "service":'42Consulting Paris',
//                            'choice1_2':'1_2',
//                            'choice1_3':'1_3',
                        };
                        break;
                    case '42consulting.lu': // If at == '2'
                        var service = {
                            "service":'42Consulting Lux',
//                            'choice2_2':'2_2',
//                            'choice2_3':'2_3',
                        };
                        break;
                    case '42mediatvcom.fr': // If at == '3'
                        var service = {
                            "service":'42MediaTelecom',
//                            'choice3_2':'3_2',
//                            'choice3_3':'3_3',
                        };
                        break;
                    case '42consulting.ma': // If at == '4'
                        var service = {
                            "service": '42Consulting Maroc',
                        };
                        break;
                    case '42consulting.nl': // If at == '5'
                        var service = {
                            "service":'42Consulting Lux',
                        };
                        break;
                }
                $("#user_edit_service").val(service.service);
//
//                $serviceSelect.empty();
//                $.each(choice, function(key, value) {
//                    console.log(choice);
//                    $serviceSelect.append($('<option></option>').val(key).text(value));
////                    console.log($serviceSelect.val());
//                });
            });
            </script>

       <script>
            $("#user_edit_site").change(function () {
                console.log($(this).val());
                var address = "";
                var service = $(this).val().substr(0, 4);
                if (service == "Sain") {
                    address = {
                        "address": "Bis, 2 Avenue Foch",
                        "postalCode": "94160",
                        "city": "Saint-Mandé",
                        "country": "France",
                    };
                } else if (service == "Issy") {
                    address =
                    {
                        "address": "16 Rue Jean Jacques Rousseau",
                        "postalCode": "92130",
                        "city": "Issy-les-Moulineaux",
                        "country": "France",
                    };
                } else if (service == "Luxe") {
                    address = {
                        "address": "4 Avenue de la Gare",
                        "postalCode": "1610",
                        "city": "Luxembourg",
                        "country": "Luxembourg",
                    }
                }
                else if (service == "Maro"){
                    address = {
                        "address": "119 avenue Abdelmoumen",
                        "postalCode": "10000",
                        "city": "Casablanca",
                        "country": "Maroc",
                    }
                }
                console.log(address);
                $("#user_edit_address").val(address.address);
                $(".postalCode").val(address.postalCode);
                $(".city").val(address.city);
                $(".country").val(address.country);

            });
            </script>

    {% endblock %}