{% extends "AppBundle::layout.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     {% stylesheets
     filter='cssrewrite' %}
     <link rel="stylesheet" href="{{ asset_url }}"/>
     {% endstylesheets %}
 {% endblock stylesheets %}


{% block title %}    Mon Compte |  {{ parent() }} {% endblock %}

{% block header_breadcrumb %}
    <li>
        <span>Mon Compte</span>
    </li>
{% endblock header_breadcrumb %}

{% block action_toolbar %} {% if app.user.lastLogin is defined and app.user.lastLogin %}
    {#<div class="page-toolbar font-grey-silver">#}
    {#<small><i class="fa fa-clock-o"></i> Dernière#}
    {#connexion: {{ app.user.lastLogin | date('d M Y à H:m', "Europe/Paris") }}</small>#}
    {#</div>#}
{% endif %}{% endblock action_toolbar %}
{% block back_body %}

    <div class="row" id="page_account">
        {#<div class="col-md-12 col-sm-12 col-xs-12">#}
        <div class="portlet light">
            {% set action=app.request.query.get("q") %}
            {% set page =app.request.query.get("page") %}
            <div class="portlet-body">
                <div class="tabbable-line tabbable-full-width">
                    <ul class="nav nav-tabs">
                        <li {% if (action == null and page == null) or ( action =="edit" and page == null) or
                            ( action !="_password" and  action !="_users" and page == null) %}class="active" {% endif %} >
                            <a href="#profile" data-toggle="tab"><i class="fa fa-user"></i> Mon Compte </a>
                        </li>
                        <li {% if action =="_password" %}class="active" {% endif %} >
                            <a href="#password" data-toggle="tab"><i class="fa fa-key"></i> Mot
                                de passe </a>
                        </li>
                        <li {% if action =="_users" or page != null %}class="active" {% endif %} >
                            <a href="#users" data-toggle="tab"><i class="fa fa-users"></i> Utilisateurs</a>
                        </li>
                        {#<li {% if action =="help" %}class="active" {% endif %} >
                            <a href="" data-toggle="tab"><i class="fa fa-info"></i> Aide</a>
                        </li>#}
                    </ul>


                    <div class="tab-content">
                        {% if app.request.hasPreviousSession %}
                            <div class="row">
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="col-md-12">
                                            <div class="alert alert-{{ type }} alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true"></button>
                                                <strong>{{ type }}</strong>
                                                {{ message }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div id="profile"
                             {% if (action == null and page == null) or ( action =="edit" and page == null) or
                             ( action !="_password" and  action !="_users" and page == null) %}class="tab-pane active" {% else %} class="tab-pane"{% endif %}
                        >
                            {{ form_start(form, { 'action': path('app_account_edit'), 'attr': { 'id': 'form_validation','autocomplete':'off', 'class': 'fos_user_change_password' } }) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if form.lastName is defined %}
                                        {{ form_row(form.lastName) }}
                                    {% endif %}
                                    {% if form.firstName is defined %}
                                        {{ form_row(form.firstName) }}
                                    {% endif %}
                                    {% if form.email is defined %}
                                        {{ form_row(form.email) }}
                                    {% endif %}

                                    {% if form.username is defined %}
                                        {{ form_row(form.username) }}
                                    {% endif %}
                                    {% if form.phone is defined %}
                                        {{ form_row(form.phone) }}
                                    {% endif %}
                                    {% if form.homePhone is defined %}
                                        {{ form_row(form.homePhone) }}
                                    {% endif %}

                                    {{ form_widget(form) }}

                                </div>
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                                <div class="form-actions">
                                    <div class="col-sm-3 ">
                                        <button type="submit"
                                                id="btn_submit" class="btn green btn-sm btn-block"><span
                                                    class="fa fa-save"></span>
                                            Enregistrer
                                        </button>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <a href="{{ path('app_account_edit') }}"
                                           id="btn_submit" class="btn btn-outline red btn-sm btn-block"><span
                                                    class="fa fa-remove"></span>
                                            Annuler
                                        </a>
                                    </div>

                                </div>
                            </div>


                            {{ form_end(form) }}
                        </div>

                        <div id="password"
                                {% if action =="_password" %} class="tab-pane active" {% else %} class="tab-pane"{% endif %} >

                            {{ form_start(formPassword, {'action': path('app_account_edit'), 'attr': {'id': 'app_account_edit','autocomplete':'off'}}) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {#   {% if form.current_password is defined %}
                                    {{ form_row(form.current_password ) }}
                                    {% endif %}
                                    {% if form.plainPassword is defined %}
                                    {{ form_row(form.plainPassword ) }}
                                    {% endif %}
                                    {% if form._token is defined %}
                                        {{ form_row(form._token ) }}
                                    {% endif %}#}
                                    {{ form_widget(formPassword) }}
                                </div>
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                                <div class="form-actions">
                                    <div class="col-sm-3 ">
                                        <button type="submit"
                                                id="btn_submit" class="btn green btn-sm btn-block"><span
                                                    class="fa fa-save"></span>
                                            Enregistrer
                                        </button>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <a href="{{ path('app_account_edit') }}"
                                           id="btn_submit" class="btn btn-outline red btn-sm btn-block"><span
                                                    class="fa fa-remove"></span>
                                            Annuler
                                        </a>
                                    </div>

                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div id="users" {% if action =="_users" or page != null %} class="tab-pane active" {% else %} class="tab-pane"{% endif %} >
                            {% if users is defined %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-reponsive">
                                            <thead>
                                            <tr>
                                                <th class="col-sm-2">Nom</th>
                                                <th class="col-sm-1">Login</th>
                                                <th class="col-sm-2">Email</th>
                                                <th class="col-sm-2">Date Création</th>
                                                <th class="col-sm-2">Dernière Connextion</th>
                                                <th class="col-sm-1"> Etat</th>
                                                <th class="col-sm-2 text-center">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {#{{ dump(users) }}#}
                                            {% for user in users %}
                                                <tr>
                                                    <td>{{ user.lastName | upper | escape }} {{ user.firstName |capitalize }}</td>
                                                    <td>{{ user.username }}</td>
                                                    <td>{{ user.email }}</td>
                                                    <td>
                                                        {% if user.created is defined and user.created %}
                                                            {{ user.created | date('d/m/Y', "Europe/Paris") }}
                                                        {% else %}
                                                            <span class="text-center"> -- </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if user.created is defined and user.created %}
                                                            {{ user.lastLogin | date('d/m/Y à H:m', "Europe/Paris") }}
                                                        {% else %}
                                                            <span class="text-center"> -- </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if user.enabled is defined and user.enabled %}
                                                            <span class="label label-success label-sm"><i
                                                                        class="fa fa-unlock"></i> Actif</span>
                                                        {% else %}
                                                            <span class="label label-danger label-xs"><i
                                                                        class="fa fa-lock"></i> Bloquer</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="" class="btn btn-xs btn-outline dark"><i
                                                                    class="fa fa-lock"></i></a>
                                                        <a href="" class="btn btn-xs btn-outline blue"><i
                                                                    class="fa fa-edit"></i></a>
                                                        <a href="" class="btn btn-xs btn-outline red"><i
                                                                    class="fa fa-trash"></i></a>

                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="6"> Aucune donnée trouvée</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            {{ knp_pagination_render(users) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
        {#</div>#}
    </div>

{% endblock back_body %}

